@charset "utf-8";
/* CSS Document */

body,h1,h2,h3,h4,h5,h6 {
	font-family:Consolas,  'Lucida Console', 'Lucida Sans Typewriter', Monaco, 'Courier New', 'monospace'
}

.U-sidebar a {
	font-family: "Roboto", sans-serif
}


.U-content{
	margin-left:auto;
	margin-right:auto;
}

.U-sidebar {
	height:100%;
	background-color:#fff;
	position:fixed;
	z-index:3;
	overflow:auto;
	width: 200px;
	display:block;
	padding:8px 16px;
	text-align:center;
	border:none;
	white-space:normal;
	float:none;
	outline:0;
}

.U-container{
	padding-top:16px;
	padding-bottom: 16px;
}

.U-display-container{
	position:relative;
}

.U-display-container:hover{
	display:block
}
.U-display-container:hover span{
	display:inline-block
}

.U-container:after, .U-container:before {
	content:"";
	display:table;
	clear:both
}

.U-white :hover{color:#000;
	background-color:#fff
}

.U-wide {
	font-size: 35px;
	letter-spacing:2px;
	float:left;
}

.U-sidebar-content{
	padding-top:64px;
	padding-bottom:64px;
	font-size:18px;
	color:#757575;
	font-weight:bold;
}

.U-bar-item{
	padding:8px 16px;
	border:none;
	outline:0;
	width:100%;
	display:inline-block;
	text-align:left;
	float:none;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color:inherit;
	background-color:inherit;
	cursor:pointer;
	white-space:nowrap;	
}
.U-button:disabled{
	cursor:not-allowed;
	opacity:0.3
}

.U-button:hover{
	color:#000;background-color:#ccc
}

.U-padding{
	padding:8px 16px;
}

.U-main,#main{
	transition:margin-left .4s;
}

.U-display-topleft {
	position:absolute;
	left:0;
	top:0;
	color:#fff;
}

.U-black{
	color:#fff;
	background-color:#3D0506}
.U-large{
	padding:12px 24px;
	font-size: 18px;
	width: auto;
}

.U-row:after, .U-row:before{
	content:"";
	display:table;
	clear:both;
}

.U-grayscale{
	filter:grayscale(75%);
}
.U-col{
	float: left;
	padding:0px 0px 0px 0px;
}
.U-tag{
	background-color:#DB3B3D;
	color:#fff;
	display:inline-block;
	padding-left:8px;
	padding-right:8px;
	text-align:center;
}
.U-display-middle{
	position:absolute;
	top:50%;left:50%;
	transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%)
}

.U-display-container:hover .U-display-hover{
	display:block;
}

.U-display-container:hover span.w3-display-hover{
	display:inline-block
}
.U-display-hover{
	display:none
}
.U-sub{
	padding-top:32px;
	padding-bottom:32px;
	padding-left: 20px;
	padding-right: 40px;
}

.U-input{
	display:block;
	border:none;
	border-bottom:1px solid #ccc;
	width:100%;
}

.U-footer{
	padding-top:64px;
	padding-bottom:64px;
	color:#000;
	background-color:#f1f1f1;
	font-size: 18px;
	text-align: center;
	padding-left: 20px;
	
}

.U-red{
	color: #fff;
	background-color: red;
	margin-bottom:16px;
}

.s1{
	width: 5%;
}
.s2{
	width: 10%;
}
.s3{
	width: 20%;
}

.s4{
	width: 30%;
}

.s6{
	width:25%;
}

.s7{
	width:50%;
}

.s8{
	width: 70%;
}

.U-block{
	display: block
}

.U-pad-8{
	padding: 8px 0px 8px 8px;
	width: 97%;
}

.U-gray, a{
	font-size: 14px;
	color: black;
}

.U-justify{
	text-align: justify;
}

.U-end{
	text-align: center;
	padding: 14px;
	font-size: 18px;
}
.U-link{
	text-decoration: none;
}


@media (min-width:993px) {.U-collapse {display:block}}
@media (max-width:992px){.U-collapse{display:none}}
@media (max-width:600px){.U-hide-small{display:none}}
@media (min-width:993px){.U-hide-large{display:none}}
@media (max-width:992px) and (min-width:601px){.U-hide-medium{display:none}}
@media (max-width:992px){.U-main{margin-left:0;margin-right:0;}}